/bin/

/.gradle/
/.settings/
/build/
/.classpath
/config/
/logs/
/screenshots/
/crash-reports/
/saves/
/options.txt
/usernamecache.json
/world/
/banned-ips.json
/banned-players.json
/eula.txt
/ops.json
/server.properties
/servers.dat
/usercache.json
/whitelist.json
eclipse
/*.launch
/.project

out/*
FlatColoredBlocks.iml
FlatColoredBlocks.ipr
FlatColoredBlocks.iws
